/*inicio header*/
header {
    background-image:url("../img header/banner1.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: $spacing-small;
    align-items: center;
    height: $spacing-large*5;
    margin-top: $spacing-large;
    .logo {
        width: 20%;
        height: 40%;
    }
    .navbar-nav {
        --bs-nav-link-padding-y: 0.3rem!important;
    }
}
@media screen and (max-width: 1023px){
header{
        min-width: 600px;
        max-width: 1023px;
        height: $spacing-large*3;
        flex-direction: row;
    }  
}

/*media 320/599*/ 
@media screen and (max-width: 599px) {
    header{
        min-width: 320px;
        max-width: 599px;
        height: $spacing-large+5;
        padding: 8px;
    }
}