/*inicio contactanos*/
.contacto {
    font-size: $title-secondary;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: $text-xsmall;
    margin-top: $spacing-medium;
    padding: $spacing-medium;
    color: white;
    .info{
        background-color: black;
        opacity: 70%;
        padding: $spacing-large;
        align-self:center;
        word-wrap: break-word;
    }
    .formulario{
        background-color: black;
        opacity: 70%;
        padding: $spacing-small;
    }
}
@media screen and (max-width: 1023px) {
    .contacto{
        min-width: 600px;
        max-width: 1023px;
        flex-direction: column;
        align-items: center;
        .formulario{
            font-size: $text-medium;
            display: flex;
            justify-content: center;
            
        }
    }    
}
@media screen and (max-width: 599px){
    .contacto{
        min-width: 320px;
        max-width: 599px;
        p{
            font-size: $text-medium;
        }
    }
}