/*inicio home*/
.home{
    padding: 2% 25px 0 25px;
    @include grid(12 , 8, center, $text-small);
    max-width: 1400px;
    .images:nth-of-type(1){
        @include location(2, 6 ,1 ,5);
        :hover{
            transform: skew(12deg, 12deg);
        } 
        img{
            opacity: map-get($animated, opacity);
            transition: transform .8s;
        }
    }
    .images:nth-of-type(2){
        @include location(8 , 12, 1, 5);
        :hover{
            transform: skew(-12deg, -12deg);
        }
        img{
            opacity: map-get($animated, opacity);
            transition: transform .8s;
        }
    }
    .intro:nth-of-type(3) {  
        font-size: $text-alternative;
        word-wrap: break-word;
        color: $primary;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        @include location(6 , 8, 2, 5);
    }
    .images:nth-of-type(4){
        @include location(2 ,6, 5 ,9);
        :hover{
            transform: skew(-12deg, -12deg);
        }
        img{
            opacity: map-get($animated, opacity);
            transition: transform .8s;
        }
    }
    .images:nth-of-type(5){
        @include location(8 ,12 , 5, 9);
        :hover{
            transform: skew(12deg, 12deg);
        }
        img{
            opacity: map-get($animated, opacity);
            transition: transform .8s;
        }
    }
}
@media screen and (max-width: 1123px) {
    .home{ 
        min-width: 600px;
        max-width: 1023px;
        @include grid(12 ,11 , center, 3px);
        margin-bottom: $spacing-large+2;
        .images:nth-of-type(1){
            grid-column: 2/7;
            grid-row: 1/5;
        }
        .images:nth-of-type(2){
            grid-column: 7/12;
            grid-row: 1/5;
        }
        .intro:nth-of-type(3){
            font-size: $title-principal;
            grid-column: 2/12;
            grid-row: 5/7;
            justify-content: center;
        }
        .images:nth-of-type(4){
            grid-column: 2/7;
            grid-row: 7/12;
        }
        .images:nth-of-type(5){
            grid-column: 7/12;
            grid-row: 7/12;
        }
    }
}

 /*media 320/599*/ 
 @media (max-width: 599px) {
    .home{ 
        min-width: 320px;
        max-width: 599px;
        display: grid;
        grid-template-columns: repeat(6, 15%);
        grid-template-rows: repeat(2, 20%) 12% repeat(2, 20%);
        grid-gap: $spacing-alternative;
        margin-top: $spacing-alternative;
        .images:nth-of-type(1){
            grid-column: 1/7;
            grid-row: 1/2;
        }
        .images:nth-of-type(2){
            grid-column: 1/7;
            grid-row: 2/3;
        }
        .intro:nth-of-type(3){
            font-size: $text-medium;
            grid-column: 1/7;
            grid-row: 3/4;
            padding: $spacing-small;
        }
        .images:nth-of-type(4){
            grid-column: 1/7;
            grid-row: 4/5;
        }
        .images:nth-of-type(5){
            grid-column: 1/7;
            grid-row: 5/6;
        }
    }
}
