  /*inicio nosotros*/
.nosotros{
    @include grid(12, 10, center, $spacing-medium+1);
    color: $primary ;
    
    .oficina{
      @include location(3 ,7 ,2 ,6);
      background-color: #08429870;
      padding: $spacing-medium;
      h2{
        font-size: $text-large;
      }
      article{
        font-size: $text-medium;
      }
    }
    .ubicacion{
      @include location(7 ,11 ,2 ,6);
    }
    .envios{
      @include location(3 ,7 ,6 ,10);
      background-color: #08429870;
      padding: $spacing-medium; 
      h2{
        font-size: $text-large;
      }
      article{
        font-size: $text-medium;
      }
    }
    .mensajeria{
      @include location(7 ,11 ,6 ,10);
    }
}
@media screen and (max-width: 980px){
  .nosotros{
    max-width: 980px;
    display:flex;
    flex-direction: column;
    padding:$spacing-medium;
  }
}