@mixin grid($cols ,$rows ,$just ,$gap){
    display: grid;
    grid-template-columns:#{repeat($cols ,7.5%)} ;
    grid-template-rows:repeat($rows ,10%);
    justify-content: center;
    grid-gap: $gap;
}

@mixin location($cStart, $cEnd, $rStart, $rEnd){
    grid-column: #{$cStart}/#{$cEnd};
    grid-row: #{$rStart}/#{$rEnd};
}

