
/*colors*/
$primary: #ffffff;
$secondary:yellow;
$tertiary:black;

/*spacing*/
$spacing-small: 1%;
$spacing-medium: 2%;
$spacing-alternative: 1rem;
$spacing-large: 3rem;

/*fontsizes*/
$title-principal: 2rem;
$title-secondary: 1.7rem;
$text-large: 3rem; 
$text-medium: 1.5rem;
$text-small: 1.3rem;
$text-xsmall: 1rem;
$text-alternative: 2.5rem;

$animated:(
    opacity:70%,
    transform:scale(1.6),
    transform2:scale(2),
);
