
/*colors*/
$primary: #ffffff;

/*spacing*/
$spacing-small: 1%;
$spacing-medium: 2%;
$spacing-alternative: 1rem;
$spacing-large: 3rem;
/*3rem, 1, 1, 1*/

/*fontsizes*/
$title-principal: 2rem;
$title-secondary: 1.7rem;
$text-large: 3rem; 
$text-medium: 1.5rem;
$text-small: 1.3rem;
$text-xsmall: 1rem;
$text-alternative: 2.5rem;

$size:(
    height-m:100%,
    width-m:100%,
);

@each $key, $val in $size{
    #{$key} {
        width: #{$val};
    }
}